.card {
  margin-top: 3rem;
  width: 21rem;
  height: 26rem;
  border: 1px solid #f3f3f3;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  cursor: pointer;

  &__title {
    font-size: 1.4rem;
    margin-top: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 1.4rem auto;
    width: 15rem;
  }

  &__footer {
    margin: 1.4rem 0;
    display: flex;
    justify-content: space-around;
    line-height: 1.3;
  }

  &__price {
    color: #bdbdbd;
    font-weight: 500;
    font-size: 1.1rem;

    &__value {
      color: #000;
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  &__button {
    &--add {
      @include button(#65dd7b);
      margin-left: 8rem;
    }

    &--favorite {
      @include button(#fef0f0);
      position: relative;
      top: 3rem;
      left: -6rem;
      &:hover,
      &.active {
        svg,
        path {
          fill: #ff8585;
          stroke: #ff8585;
        }
      }
    }

    path {
      transition: all 0.3s linear;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
  }
}

.favorite__delete {
  @include button($red);
  position: relative;
  top: 3rem;
  left: -6rem;
}
