.cart {
	position: fixed;
  top: 0;
  right: 0;
  width: 38.5rem;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 11;
  padding: 6rem 0 0;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 3rem 3rem 0;
    font-weight: 700;
    font-size: 2.4rem;
  }

  &__items {
    flex: 1 1 auto;
    height: 100%;
		overflow: auto;
    &__item {
      cursor: pointer;
      max-width: 32.5rem;
      max-height: 11rem;
      margin: 2rem auto;
      padding: 2rem;
      border: 1px solid #f3f3f3;
      border-radius: 2rem;
      display: flex;
      transition: box-shadow 0.2s linear;
      &:hover {
        box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
      }
      &__description {
        display: flex;
        align-items: center;
        margin-left: 2rem;
      }
      &__title {
        font-size: 1.2rem;
      }
      &__price {
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 0.8rem;
      }
			&__quantity {
				margin-top: 0.5rem;
				display: inline;
				border: 1px solid #dfdfdf;
				padding: .2rem .6rem;
				width: 2rem;
				height: 2rem;
				border-radius: 5px;
				font-size: 1.1rem;
				&__increment, &__decrement {
					margin-left: 1rem;
					width: 2rem;
					height: 2rem;
					color: $gray;
					background-color: transparent;
					border: 1px solid #dfdfdf;
					border-radius: 5px;
					font-weight: 600;
					transition: all .2s linear;
				}
				&__increment:hover {
					border: $green;
					box-shadow: inset 6.5em -3.25em 1.33em $green;
					color: #fff;
				}
				&__decrement:hover {
					border: $red;
					box-shadow: inset 6.5em -3.25em 1.33em $red;
					color: #fff;
				}
			}
      &__delete {
        @include button($red);
        margin-left: 4.7rem;
      }
    }
  }
  &__footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
      margin-top: 2rem;
      font-size: 1.6rem;
      width: 32.5rem;
      display: flex;
    }
    .dash {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      margin: 1.3rem 1rem 0;
    }
    &__value {
      font-weight: 600;
    }
    &__btn {
      @include greenButton-right();
    }
  }
}

@include breakpoint(575px) {
  .cart {
    width: 100%;
  }
  body.o-hidden {
    overflow: hidden;
  }
}

.emptycart {
	margin: auto 4rem;
	text-align: center;
	&__title {
		font-size: 2.2rem;
		font-weight: 600;
		margin-top: 2rem;
	}
	&__text {
		font-size: 1.6rem;
		font-weight: 400;
		margin-top: 1rem;
	}
}