.content {
  padding: 4rem;
  margin-top: 6.9rem;
  &__header {
    display: flex;
    justify-content: space-between;
    @include breakpoint($big-mobile) {
      flex-direction: column;
      .content__search {
        margin-top: 3rem;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 3.2rem;
		word-break: break-all;
    @include breakpoint(575px) {
      display: flex;
      justify-content: center;
    }
  }
  &__search {
    border: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 3rem;
    transition: all 0.2s linear;
		position: relative;
    &__input {
      color: #aaa;
      font-size: 1.4rem;
      margin-left: 1.3rem;
      &::placeholder {
        color: #c4c4c4;
      }
    }
		&__clear {
			cursor: pointer;
			position: absolute;
			right: 1rem;
			width: 2.5rem;
			height: 50%;
			background-color: #fff;
		}
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  @include breakpoint(950px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoint($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint($big-mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Card */
@import "card";
/* Cart */
@import "cart";

.favorite {
	&__header {
		display: flex;
	}
	&__return {
		margin: 0 2rem;
		flex: 0 0 auto;
		@include button($red)  {
			&:hover {
				path {
					fill: none;
					stroke: #eee;
				}
			}
		}
	}
	&__title {
		font-weight: 700;
    font-size: 3.2rem;
		word-break: break-all;
    @include breakpoint($big-mobile) {
      display: flex;
      justify-content: center;
    }
	}
	&__items {
		margin-top: 4rem;
	}
	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20vh;
		&__heading {
			font-size: 2.4rem;
			font-weight: 600;
			margin-top: 2.4rem;
		}
		&__text {
			font-size: 1.6rem;
			font-weight: 400;
			margin-top: 1rem;
			opacity: 0.4;
			@include breakpoint($mobile){
				font-size: 1rem;
			}
			@include breakpoint($tablet){
				font-size: 1.4rem;
			}
		}
		&__button {
			@include greenButton() {
				&__icon {
					position: relative;
					top: 0.2rem;
					right: 4.5rem;
				}
			}
		}
	}
}

@import 'profile';